Faker==27.0.0
numpy==2.0.1
pandas==2.2.2
prompt-toolkit==1.0.14
Pygments==2.18.0
PyInquirer==1.0.3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
six==1.16.0
tzdata==2024.1
wcwidth==0.2.13
